<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="achatstyle.css">
    <title>Document</title>
</head>
<body>

    <div class="parent" >
        <div class="one" id="one" >
            <p>Order Summary</p>
            <hr>
            <div class="container" id="container"></div>
             </div>
        <div class="two">
              <div class="two-select" >
                <p>Please select your card:</p>
                <select class="select" id="select" >
                    <option value="visa">visa</option>
                    <option value="master card">master card</option>
                </select>
              </div>
                   <div class="visaContainer" >              
                    <img src="visa.png" class="visa" alt="visa"  >                   
                </div>
                <form>
                    <p>Card Number</p>
                    <input type="text" name="" id="" class="in1">
                    <p>Card Holder</p>
                    <input type="text" name="" id="" class="in2">
                    <div class="inputs" >
                        <div>
                            <p>Expires</p>
                            <input type="text" name="" id="" class="in3">
                        </div>
                        <div>
                            <p>CVC</p>
                            <input type="text" name="" id="" class="in4">
                        </div>
                    </div>
                    <div class="Checkout" >Checkout</div>
                </form>
            </div>
    </div>








    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="achat.js" ></script>

</body>
</html>