<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="style.css">
    </head>
    <body>

     
        <body>

            <div class="search" >
<p>Find the best coffe for you</p>
<input type="text" placeholder="Find your coffe" id="search" />
            </div>
            
            <div class="nav"  id="nav" style="width: 0px;" >
            </div>
            <div class="buydiv" id="buydiv" >
                <button>buy now</button>
            </div>

            <div class="favorites" id="favorites" style="width: 0px;" >
                <p>Favorites</p>
            </div>
            <div class="notification" style="width: 0px;"  id="notification" >
              <span>Notification</span>
            </div>
<div class="parent" >
</div>
            <footer>
                <i class="fa-solid fa-house one" id="home" ></i>
                <i class="fa-solid fa-cart-shopping one" id="addtocard" ></i>
                <i class="fa-solid fa-heart one" id="myfavorites" ></i>
                <i class="fa-solid fa-bell one" id="mynotification" ></i>
            </footer>
        </body>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js" ></script>
  

    </body>
</html>